[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/*"]
	publishDrafts = group OnePlus6/6t
[access "refs/heads/*"]
	abandon = group OnePlus6/6t
	create = group OnePlus6/6t
	deleteOwnChanges = group OnePlus6/6t
	editTopicName = +force group OnePlus6/6t
	forgeAuthor = group OnePlus6/6t
	forgeCommitter = group OnePlus6/6t
	label-Code-Review = -2..+2 group OnePlus6/6t
	push = +force group OnePlus6/6t
	pushMerge = group OnePlus6/6t
	rebase = group OnePlus6/6t
	removeReviewer = group OnePlus6/6t
	submit = group OnePlus6/6t
