[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
         label-Code-Review = -2..+2 group OnePlus6/6t
[access "refs/for/*"]
	submit = group OnePlus6/6t
	editTopicName = +force group OnePlus6/6t
	push = +force group OnePlus6/6t
	create = group OnePlus6/6t
	label-Code-Review = -2..+2 group OnePlus6/6t
	removeReviewer = group OnePlus6/6t
	publishDrafts = group OnePlus6/6t
